{
  "plugins": [
    "transform-class-properties",
    ["transform-imports", {
      "@material-ui": {
          "transform": "@material-ui/core/${member}",
          "preventFullImport": true
      }
    }]
  ],
  "presets": ["env", "react"]
}
